@use 'sass:map';
@import '../../../foundation/sass/all';

.feature {
  height: 108.2rem;
  @include center-flex;

  &__container {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xxl');
  }

  &__header {
    align-self: flex-start;
    max-width: 49rem;
  }

  &__bottom {
    align-items: center;
    display: flex;
    gap: map.get($spacing, 'xxxl');
  }

  &__cards {
    display: flex;
    flex-direction: column;
    height: 49.6rem;
    justify-content: space-between;
    width: 56rem;
  }

  &__img-wrapper {
    height: 56rem;
    width: 56rem;
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}
