@import '../../../foundation/sass/all';

.text {
  &--start {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--end {
    text-align: right;
  }

  &--regular {
    font-weight: $fw-normal;
  }

  &--medium {
    font-weight: $fw-medium;
  }

  &--bold {
    font-weight: $fw-bold;
  }

  &--extraBold {
    font-weight: $fw-extrabold;
  }

  &--truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &--hidden {
    visibility: hidden;
  }

  &--visible {
    visibility: visible;
  }

  &--headingSm {
    font-size: $h-4-font-size;
    font-weight: $h-4-font-weight;
  }

  &--headingMd {
    font-size: $h-3-font-size;
    font-weight: $h-3-font-weight;
  }

  &--headingLg {
    font-size: $h-2-font-size;
    font-weight: $h-2-font-weight;
    // @include mobile {
    //   font-size: $h-3-font-size;
    //   font-weight: $h-3-font-weight;
    // }

    // @include laptop {
    //   font-size: $h-2-font-size;
    //   font-weight: $h-2-font-weight;
    // }
  }

  &--headingXl {
    font-size: $h-1-font-size;
    font-weight: $h-1-font-weight;
    // @include mobile {
    //   font-size: $h-2-font-size;
    //   font-weight: $h-2-font-weight;
    // }

    // @include laptop {
    //   font-size: $h-1-font-size;
    //   font-weight: $h-1-font-weight;
    // }
  }

  &--body2xs {
    font-size: $fs-xxs;
  }

  &--bodyXs {
    font-size: $fs-xs;
  }

  &--bodySm {
    font-size: $fs-sm;
    // @include mobile {
    //   font-size: $fs-xs;
    // }

    // @include laptop {
    //   font-size: $fs-sm;
    // }
  }

  &--bodyMd {
    font-size: $fs-md;
    // @include mobile {
    //   font-size: $fs-sm;
    // }

    // @include laptop {
    //   font-size: $fs-md;
    // }
  }

  &--bodyLg {
    // font-size: $fs-lg;
    @include mobile {
      font-size: $fs-md;
    }

    @include laptop {
      font-size: $fs-lg;
    }
  }

  &--bodyXl {
    font-size: $fs-xl;
  }

  &--primary {
    color: $text-primary-color;
  }

  &--secondary {
    color: $text-secondary-color;
  }

  &--subtle {
    color: $text-subtle-color;
  }

  &--inverted {
    color: $text-inverted-color;
  }

  &--success {
    color: $text-success-color;
  }

  &--error {
    color: $text-error-color;
  }
}
