@use 'sass:map';
@import '../../../foundation/sass/all';

.hero {
  color: $free-hero-color;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__form {
    @include padding('top', 'md');

    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
    width: 29.9rem;
  }

  &__label {
    font-size: $fs-xs;

    &__link {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
