@use 'sass:map';
@import '../../../foundation/sass/all';

.navbar {
  align-self: stretch;
  @include center-flex;

  &__nav-list {
    align-items: stretch;
    align-self: stretch;
    display: flex;
    gap: 3rem;
  }
}
