@use 'sass:map';
@import '../../../foundation/sass/all';

.blog-card {
  border: 1px solid $blog-card-border-color;
  min-height: 37.6rem;
  max-width: 36rem;

  &__img-wrapper {
    height: 15.6rem;
  }

  &__img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__info-box {
    margin: map.get($spacing, 'md');
  }

  &__title {
    letter-spacing: $ls-lg;
    line-height: $lh-sm;
    @include margin('bottom', 'xs');
  }

  &__description {
    letter-spacing: $ls-md;
    line-height: $lh-md;
  }
}
