@use 'sass:map';
@import '../../../foundation/sass/all';

.accordion {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'md');
  max-width: 76.8rem;

  &__item {
    @include padding('bottom', 'lg');

    border-bottom: 1px solid $faq-border-color;

    &:last-child {
      border-bottom: none;
      padding: 0;
    }
  }
}
