@use 'sass:map';
@import '../../../foundation/sass/all';

.faq {
  &__container {
    flex: 0 0 auto;
    flex-direction: column;
    gap: map.get($spacing, 'xxxl');
    min-height: 95rem;
    @include center-flex;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'sm');
    text-align: center;
  }

  &__footer {
    align-self: stretch;
    background-color: $faq-section-footer-bg;
    border-radius: $br-md;
    flex-direction: column;
    height: 20.6rem;
    text-align: center;
    @include center-flex;

    &__heading {
      @include margin('bottom', 'xs');
    }

    &__description {
      @include margin('bottom', 'lg');
    }
  }
}
