@use 'sass:map';
@import '../../../foundation/sass/all';

.card {
  align-items: center;
  display: flex;
  filter: grayscale(100%);
  gap: map.get($spacing, 'xs');

  &__img {
    height: 4.4rem;
    opacity: 0.95;
    width: auto;
  }

  &__title {
    color: $social-proof-card-color;
    font-size: $fs-xl;
    font-weight: $fw-semibold;
  }
}
