@use 'sass:map';
@import '../../../foundation/sass/all';

.cta {
  height: 57.6rem;

  &__container {
    background-color: $cta-bg-color;
    border-radius: $br-lg;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 48rem;
    overflow: hidden;
  }

  &__left-box {
    place-self: center center;
    width: 60.8rem;
    @include padding('left', 'xl');
  }

  &__heading {
    line-height: $lh-xs;
    @include margin('bottom', 'md');
  }

  &__text {
    @include margin('bottom', 'xl');
  }

  &__right-box {
    height: 100%;
    position: relative;
  }

  &__img-wrapper {
    bottom: 0;
    height: 43.2rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 56rem;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
