@import '../../../foundation/sass/all';

.free-guide {
  height: 87.8rem;
  @include center-flex;
  // padding: 0 15px 0 15px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
