@use 'sass:map';
@import '../../../foundation/sass/all';

.copyright-info {
  &__container {
    align-items: center;
    border-top: 1px solid $copyright-border-color;
    display: flex;
    justify-content: space-between;
    @include padding('top', 'lg');
  }

  &__icons {
    display: flex;
    gap: map.get($spacing, 'md');
  }
}
