@use 'sass:map';
@import '../../../foundation/sass/all';

.review-card {
  background-color: $home-review-bg-color;
  height: 87.9rem;
  padding-top: 12rem;

  &__heading {
    line-height: $lh-xs;
    width: 53rem;
    @include margin('bottom', 'lg');
  }

  &__cards {
    display: flex;
    gap: map.get($spacing, 'lg');
    justify-content: space-around;
  }
}
