@use 'sass:map';
@import '../../../foundation/sass/all';

.testimonial {
  &__header {
    @include center-flex;

    justify-content: space-between;
    padding: map.get($spacing, 'xxl') 0 map.get($spacing, 'xxl') 0;
  }

  &__upheading {
    @include margin('bottom', 'sm');
  }

  &__heading {
    letter-spacing: $ls-md;
  }

  &__cards {
    @include padding('top', 'sm');
    @include padding('bottom', 'xxl');

    gap: map.get($spacing, 'lg') map.get($spacing, 'xl');
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__card:nth-child(1),
  &__card:nth-child(3) {
    justify-self: end;
  }
}
