@use 'sass:map';
@import '../../../foundation/sass/all';

.testimonial {
  &__header {
    @include center-flex;

    justify-content: space-between;
    padding: map.get($spacing, 'xxl') 0 map.get($spacing, 'xxl') 0;
  }

  &__upheading {
    color: $testimonial-section-upheading-color;
    font-size: $fs-sm;
    @include margin('bottom', 'sm');
  }

  &__heading {
    color: $heading-color;
    font-size: $h-2-font-size;
    font-weight: $h-2-font-weight;
    letter-spacing: -2%;
  }

  &__cards {
    @include padding('top', 'sm');
    @include padding('bottom', 'xxl');
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: map.get($spacing, 'lg');
    column-gap: map.get($spacing, 'xl');
  }

  &__card:nth-child(1),
  &__card:nth-child(3) {
    justify-self: end;
  }
}
