@use 'sass:map';
@import '../../../foundation/sass/all';

.hero-left {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'sm');
  @include padding('right', 'xl');

  &__upheading {
    letter-spacing: $ls-md;
  }

  &__heading {
    letter-spacing: $ls-lg;
    align-self: flex-start;
    line-height: $lh-sm;
  }

  &__text {
    line-height: $lh-md;
    max-width: 50rem;
  }
}
