@use 'sass:map';
@import '../../../foundation/sass/all';

.cta {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'xxl');
  height: 55.6rem;
  justify-content: center;
  position: relative;

  &__upper {
    text-align: center;
  }

  &__heading {
    color: $heading-color;
    font-size: $h-2-font-size;
    font-weight: $h-2-font-weight;
    letter-spacing: -1%;
    line-height: 5.6rem;
    margin: 0 auto;
    max-width: 73rem;
    @include margin('bottom', 'sm');

    &__highlight {
      color: $free-cta-heading-highlight-color;
    }
  }

  &__description {
    color: $free-cta-color;
    font-size: $fs-sm;
    line-height: 2.5rem;
    margin: 0 auto;
    max-width: 54rem;
    @include margin('bottom', 'lg');
  }

  &__bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xxs');

    &__text {
      color: $free-cta-footer-color;
      font-size: $fs-sm;
    }
  }

  &__img {
    border-radius: $br-full;
    position: absolute;
  }

  &__img1 {
    left: 13%;
    top: 34.4%;
  }

  &__img2 {
    left: 4.4%;
    top: 67.4%;
  }

  &__img3 {
    right: 17.7%;
    top: 10.4%;
  }

  &__img4 {
    right: 5.5%;
    top: 44.6%;
  }

  &__img5 {
    right: 13.4%;
    top: 74.6%;
  }
}
