@import '../../../foundation/sass/all';

.nav-item {
  align-items: stretch;
  align-self: stretch;
  display: flex;
}

.nav-link {
  color: $navbar-item-color;
  font-size: $fs-sm;
  position: relative;
  text-decoration: none;
  transition: all 300ms ease;
  @include center-flex;

  &:hover,
  &:focus {
    text-shadow: 0 0 1px $navbar-item-color;
  }

  &:after {
    background-color: $navbar-item-border-color;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.15s ease;
    width: 0;
  }

  &--active:after,
  &:hover:after,
  &:active:after {
    width: 100%;
  }
}
