@import '../../../foundation/sass/all';

.section {
  height: 67rem;
  @include center-flex;

  &__container {
    max-width: 54rem;
    text-align: center;
  }

  &__img {
    height: 26.6rem;
    width: 31.2rem;
  }

  &__heading {
    @include margin('bottom', 'md');
  }
}
