@use 'sass:map';
@import '../../../foundation/sass/all';

.footer-cta {
  background-color: $footer-cta-bg-color;
  height: 18rem;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    justify-self: stretch;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'sm');
    width: 73.8rem;
  }

  &__right {
    display: flex;
    gap: map.get($spacing, 'sm');
    margin: map.get($spacing, 'lg');
  }
}
