@use 'sass:map';
@import '../../../foundation/sass/all';

.button {
  $padding: map.get($spacing, 'xs');

  background-color: $button-bg-color;
  border: none;
  border-radius: $br-md;
  color: $button-color;
  cursor: pointer;
  font-size: $fs-sm;
  padding: $padding;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: $button-hover-bg-color;
    color: $button-hover-color;
  }

  &--small {
    width: 15rem;
  }

  &--medium {
    font-size: $fs-xs;
    width: 19.3rem;
  }

  &--large {
    width: 25rem;
  }

  &--full-width {
    margin: 0 auto;
    width: 100%;
  }

  &--rounded-small {
    border-radius: $br-sm;
  }
}
