@use 'sass:map';
@import '../../../foundation/sass/all';

.card {
  background-color: $qualification-card-primary-bg-color;
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'xxl');
  height: 54rem;
  padding: map.get($spacing, 'xl');
  width: 44.6rem;

  &--secondary {
    background-color: transparent;
  }

  &__not-word {
    text-decoration: underline;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
    margin: 0 auto;
    max-width: 33.2rem;
  }
}
