@use 'sass:map';
@import '../../../foundation/sass/all';

.home-hero {
  background-color: $hero-bg-color;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 66.7rem;
    position: relative;
  }

  &__wave-icon {
    position: absolute;
    top: map.get($spacing, 'xl');
    transform: translate(-50%, 0);
  }

  &__img-box {
    align-items: end;
    display: flex;
    justify-content: center;
  }

  &__img-wrapper {
    height: 60.3rem;
    position: relative;
    transform: translate(0, 2.6rem);
    width: 46.2rem;
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__success-rate {
    position: absolute;
    transform: translate(-11.6rem, -4.5rem);
  }
}
