@use 'sass:map';
@import '../../../foundation/sass/all';

.section {
  background-color: $qualification-section-bg-color;
  display: flex;
  flex-direction: column;
  height: 86rem;
  justify-content: space-around;

  &__upper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xxs');
  }

  &__upheading {
    color: $qualification-section-upheading-color;
    font-size: $fs-sm;
  }

  &__heading {
    color: $heading-color;
    font-size: $h-2-font-size;
    font-weight: $h-2-font-weight;
    letter-spacing: -2%;
    line-height: 5.8rem;
    max-width: 48.8rem;
  }

  &__cards {
    display: flex;
    justify-content: center;
  }
}
