@use 'sass:map';
@import '../../../foundation/sass/all';

.section {
  background-color: $qualification-section-bg-color;
  display: flex;
  flex-direction: column;
  height: 86rem;
  justify-content: space-around;

  &__upper {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'xxs');
  }

  &__heading {
    letter-spacing: $ls-md;
    line-height: 5.8rem;
    max-width: 48.8rem;
  }

  &__cards {
    display: flex;
    justify-content: center;
  }
}
