@import '../../../foundation/sass/all';

.button {
  background-color: $dark-mode-button-bg-color;
  border: none;
  border-radius: $br-full;
  cursor: pointer;
  height: 3.5rem;
  outline: none;
  width: 3.5rem;
  @include center-flex;

  &__icon {
    stroke: $dark-mode-button-stroke-color;
  }
}
