@use 'sass:map';
@import '../../../foundation/sass/all';

.introduction {
  align-items: center;
  display: flex;
  height: 73.4rem;

  &__upper-box {
    @include margin('bottom', 'sm');
  }

  &__wave-icon {
    @include margin('bottom', 'sm');
  }

  &__upper-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__heading {
    @include margin('top', 'sm');

    color: $introduction-heading-color;
    font-size: $h-2-font-size;
    font-weight: $h-2-font-weight;
  }

  &__paragraphs {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
  }

  &__paragraph {
    color: $introduction-paragraph-color;
    font-size: $fs-sm;
    line-height: 2.5rem;
    width: 468px;
  }

  &__bottom-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
