@use 'sass:map';
@import '../../../foundation/sass/all';

.introduction {
  align-items: center;
  display: flex;
  height: 76.4rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'sm');
    justify-content: center;
  }

  &__wave-icon {
    @include margin('bottom', 'sm');
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__heading {
    @include margin('top', 'sm');
  }

  &__paragraphs {
    display: flex;
    flex-direction: column;
    gap: map.get($spacing, 'md');
  }

  &__paragraph {
    line-height: $lh-md;
    width: 468px;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
